/* Основные цветовые переменные */
:root {
    --background: #1a1a2e; /* Темный фон для страницы */
    --color: #ffffff; /* Белый цвет текста */
    --primary-color: #0f3460; /* Основной цвет для акцентов (темно-синий) */
    --secondary-color: #4CAF50; /* Цвет для кнопок отмены и других вторичных элементов */
}

/* Общие стили */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: var(--background);
    color: var(--color);
    padding: 24px;
    transition: background 0.3s ease;
}


h1 {
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 2000px;
}

/* Стили для кнопок */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-primary:hover {
    background-color: #0d1a3a;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: white;
}

.btn-secondary:hover {
    background-color: #05e536;
}

/* Стили для полей формы */
form div {
    margin-bottom: 15px; /* Отступ между строками формы */
}

/* Стили для меток */
form label {
    display: block;
    margin-bottom: 5px; /* Небольшой отступ снизу для меток */
}

/* Стили для полей ввода */
form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px; /* Небольшой отступ сверху для полей ввода */
    border-radius: 4px;
    border: 1px solid #ccc;
}


/* Центрируем весь контент */
.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Вместо center, чтобы контент располагался сверху */
    min-height: 100vh;  /* Устанавливаем минимальную высоту для контейнера на всю высоту экрана */
    text-align: center;
}

/* Карта */
#map {
    width: 100%;          /* Ширина карты на 100% от родительского контейнера */
    height: 60vh;         /* Высота карты - 60% от высоты окна */
    margin-top: 25px;
    margin-bottom: 20px;  /* Отступ снизу карты */
    border: 1px solid #ccc;  /* Добавление рамки вокруг карты */
}

/* Тема */
.theme-btn {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.theme-btn-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
}
