/* Основные цветовые переменные */
:root {
    --background: #1a1a2e; /* Темный фон для страницы */
    --color: #ffffff; /* Белый цвет текста */
    --primary-color: #0f3460; /* Основной цвет для акцентов (темно-синий) */
    --secondary-color: #4CAF50; /* Цвет для кнопок отмены и других вторичных элементов */
}

/* Общие стили */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: var(--background);
    color: var(--color);
    padding: 24px;
    transition: background 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
}

.dashboard-container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    color: var(--color);
    margin-bottom: 3rem;
}

/* Стили для форм */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

.form-input:focus {
    border-color: var(--primary-color);
    outline: none;
}

/* Стили кнопок */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-primary:hover {
    background-color: #0d1a3a;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: white;
}

.btn-secondary:hover {
    background-color: #05e536;
}

/* Дополнительные стили */
.theme-btn-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
}

/* Тема */
.theme-btn {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.theme-btn-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
}
