<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание профиля водителя</title>
    <link rel="stylesheet" href="/style_add/style.css">
    <script src="/theme.js" defer></script>
</head>
<body>
<div class="container">
    <div class="dashboard-container">
        <h1 class="title">Создание профиля водителя</h1>

        <form th:action="@{/drivers/profile}" method="post">
            <div class="form-group">
                <label for="fullName">Полное имя</label>
                <input type="text" id="fullName" name="fullName" required class="form-input">
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Дата рождения</label>
                <input type="date" id="dateOfBirth" name="dateOfBirth" required class="form-input">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Телефон</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" required class="form-input">
            </div>
            <div class="form-group">
                <label for="residenceAddress">Адрес проживания</label>
                <input type="text" id="residenceAddress" name="residenceAddress" required class="form-input">
            </div>
            <div class="form-group">
                <label for="drivingLicense">Номер водительского удостоверения</label>
                <input type="text" id="drivingLicense" name="drivingLicense" required class="form-input">
            </div>
            <div class="form-group">
                <label for="education">Образование</label>
                <input type="text" id="education" name="education" required class="form-input">
            </div>
            <div class="form-group">
                <label for="validityPeriodOfTheMedicalCertificate">Срок действия мед. справки</label>
                <input type="date" id="validityPeriodOfTheMedicalCertificate" name="validityPeriodOfTheMedicalCertificate" required class="form-input">
            </div>
            <div class="form-group">
                <label for="drivingExperience">Опыт вождения (лет)</label>
                <input type="number" id="drivingExperience" name="drivingExperience" required class="form-input">
            </div>
            <div class="form-group">
                <label for="driverLevel">Уровень водителя</label>
                <input type="text" id="driverLevel" name="driverLevel" required class="form-input">
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Создать профиль</button>
            </div>
        </form>

        <!-- Кнопка "Назад" -->
        <a href="/dashboard/driver_dashboard" class="btn btn-secondary">Назад</a>
    </div>
</div>
</body>
<div class="theme-btn-container"></div>
</html>
