<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список водителей</title>
    <link rel="stylesheet" href="/style_list/style.css">
    <script src="/style_list/table.js" defer></script>
    <script src="/theme.js" defer></script>
</head>
<body>
<div class="container">
    <div class="dashboard-container">
        <h1 class="title">Список водителей</h1>
        <div class="table">
            <div class="table-header">
                <div class="header__item"><a id="number" class="filter__link" href="#">Номер в списке</a></div>
                <div class="header__item"><a id="fullName" class="filter__link" href="#">Полное имя</a></div>
                <div class="header__item"><a id="phoneNumber" class="filter__link" href="#">Телефон</a></div>
                <div class="header__item"><a id="drivingExperience" class="filter__link" href="#">Опыт вождения</a></div>
                <div class="header__item"><a class="filter__link" href="#">Действия</a></div>
            </div>
            <div class="table-content">
                <div class="table-row" th:each="driver, iterStat : ${drivers}">
                    <div class="table-data" th:text="${iterStat.count}"></div>
                    <div class="table-data" th:text="${driver['fullName']}"></div>
                    <div class="table-data" th:text="${driver['phoneNumber']}"></div>
                    <div class="table-data" th:text="${driver['drivingExperience']} + ' лет'"></div>
                    <div class="table-data">
                        <div class="actions">
                            <a th:href="@{/drivers/{id}(id=${driver['id']})}" class="btn btn-save-salary btn-sm mt-1">Просмотр</a>
                            <form th:action="@{/drivers/delete/{id}(id=${driver['id']})}" method="post" class="delete-form">
                                <button type="submit" class="btn btn-delete-manager btn-sm mt-3"
                                        onclick="return confirm('Вы уверены, что хотите удалить этого водителя?');">
                                    Удалить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="/button/back" class="btn-back">Назад</a>
    </div>
</div>
<div class="theme-btn-container"></div>
</body>
</html>
