<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Об авторе</title>
    <link rel="stylesheet" href="dashboard/about.css">
    <script src="/theme.js" defer></script>
</head>
<body>

<div class="container">
    <h1>Об авторе</h1>
    <p><strong>ФИО автора:</strong> Гизатулин Никита Александрович</p>
    <p><strong>Группа/учебное заведение:</strong> ПИ22-1, Финансовый Университет при Правительстве РФ</p>
    <p class="contact"><strong>Контактные данные:</strong> <a href="mailto:228376@edu.fa.ru">228376@edu.fa.ru</a></p>
    <p><strong>Преподаватель:</strong> Свирина А.Г</p>
    <p><strong>Версия приложения:</strong> 1.0</p>
</div>
<div class="theme-btn-container"></div>
</body>
</html>
