/* Основные цветовые переменные */
:root {
    --background: #1a1a2e; /* Темный фон для страницы */
    --color: #ffffff; /* Белый цвет текста */
    --primary-color: #0f3460; /* Основной цвет для акцентов (темно-синий) */
}

/* Общие стили */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: var(--background);
    color: var(--color);
    padding: 24px;
    transition: background 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
}

.dashboard-container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    color: var(--color);
    margin-bottom: 3rem;
}

/* Таблица */
.table {
    width: 100%;
    border: none;
    min-width: 1500px;
    margin-left: -350px;
    box-shadow: none;
}

.table-header {
    display: flex;
    width: 100%;
    background: #000;
    padding: 36px 0;
}

.table-row {
    display: flex;
    width: 100%;
    padding: 36px 0;
    transition: background-color 0.3s ease;
}

/* Чередование строк таблицы */
.table-row:nth-child(odd) {
    background-color: #FFFFFF; /* Белый фон для нечетных строк */
}

.table-row:nth-child(even) {
    background-color: #EEEEEE; /* Светло-серый фон для четных строк */
}

/* Эффект при наведении */
.table-row:hover {
    background-color: #D3D3D3; /* Серый цвет при наведении */
}

.table-data, .header__item {
    flex: 1 1 20%;
    text-align: center;
    color: #000;
}

.header__item {
    text-transform: uppercase;
}

.filter__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
}

.filter__link::after {
    content: '';
    position: absolute;
    right: -36px;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.filter__link.desc::after {
    content: '(desc)';
}

.filter__link.asc::after {
    content: '(asc)';
}

.actions {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.actions .btn {
    margin: 0 5px;
}

.delete-form {
    display: inline-block;
}

/* Стили кнопок */
.btn-back {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 25px;
}

.btn-back:hover {
    background-color: #05e536;
}

/* Стили для синей кнопки (btn-primary) */
.btn-primary {
    padding: 10px 20px;
    background-color: var(--primary-color); /* Используем основной синий цвет */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0d1a3a; /* Темный оттенок синего при наведении */
}


/* Стили для кнопки "Сохранить зарплату" (зелёная кнопка) */
.btn-save-salary {
    padding: 10px 20px;
    background-color: #4CAF50; /* Зелёный цвет */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 25px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn-save-salary:hover {
    background-color: #00ff0b; /* Темный оттенок зелёного при наведении */
}

/* Стили для кнопки "Удалить Менеджера" (красная кнопка) */
.btn-delete-manager {
    padding: 10px 20px;
    background-color: #f44336; /* Красный цвет */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.form-group {
    margin-bottom: 10px; /* Отступ между полем ввода и кнопкой */
}


.btn-delete-manager:hover {
    background-color: #ff0600; /* Темный оттенок красного при наведении */
}


/* Тема */
.theme-btn {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.theme-btn-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
}
